<!DOCTYPE html>
<html>
    <head>
        <title>UberFrontendValidationDemo</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
        <script src="//code.jquery.com/jquery.js"></script>
        {{ validation_init() }}
    </head>
    <body>
        <div class="container">
            {% block uber_frontend_validation_demo_content %}{% endblock %}
        </div>
    </body>
</html>
