{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block uber_frontend_validation_demo_content %}
    <div class="page-header">
        <h1>UberFrontendValidationDemo</h1>
        <p>demonstrates the usage of UberFrontendValidationBundle</p>
    </div>
    <form method="post" {{ form_enctype(form) }} role="form" novalidate="novalidate">
        <div class="form-group">
            <div class="input-group">
                <label for="title">Title</label>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            {{ form_row(form._token) }}
            <br />
            <button type="submit" class="form_submit_button" name="save">Save</button>
        </div>
    </form>
{% endblock %}
