{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block uber_frontend_validation_demo_content %}
    <div class="page-header">
        <h1>UberFrontendValidationDemo</h1>
        <p>demonstrates the usage of UberFrontendValidationBundle</p>
    </div>
{% endblock %}
